@{
    ViewData["Title"] = "Home Page";
}
    <head>
        

    </head>

    <body>
        <section class="jumbotron text-center">

            <div class="container">
                <h1>Welcome to CSE Book Store</h1>
                <p>
                    Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula
                    ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>

                <a class="btn btn-primary my-2">Search Books</a>

            </div>


        </section>

        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">



                            <img class="card-img-top" src="~/images/1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="d-flex justify-content-between">
                                    <a href="#" class="btn btn-sm btn-primary">See Details</a>
                                    <small class="text-muted text-right ">Auther Name</small>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="card" style="width: 18rem;">



                            <img class="card-img-top" src="~/images/1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="d-flex justify-content-between">
                                    <a href="#" class="btn btn-sm btn-primary">See Details</a>
                                    <small class="text-muted text-right ">Auther Name</small>
                                </div>

                            </div>
                           
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">



                            <img class="card-img-top" src="~/images/1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="d-flex justify-content-between">
                                    <a href="#" class="btn btn-sm btn-primary">See Details</a>
                                    <small class="text-muted text-right ">Auther Name</small>
                                </div>

                            </div>
                            
                        </div>

                    </div>

                </div>

            </div>


        </div>

    </body>



@section Scripts{


<script>
    $(document).ready(function () {

       alert("Hellow From Index");

    })
</script>


 }
   